
extends layout


block content
	div(class='container')
		div(class='jumbotron')
			center
				h1= title
		center
			div(class='row')
				div(class='col-sm-6')
					h2
						|Class List
						br
						br
						ul(class="list-unstyled")
							each cls, i in classList
								li
									a(href="/EditClass/" + cls.classID)= cls.classID
				div(class='col-sm-6')
					h2
						a(href="/CreateClass/")= "Create New Class"
					h2
						a(href="/Admin/")= "Admin Panel"
					h2
						a(href="/logout/")= "Logout"					