
extends layout


block content
	script(type='text/javascript').
		var updateClass = function(){

		}
		var add = function(num){
			for (var i = 0; i < num; i++) {
				addTo(generateRandomString(10));
			};
		}
		var delSelected = function(){
			$(".active").remove();
		}	
		var addTo = function(str){
			$("#lst").append('<a href="#" class="list-group-item">'+ str +' </a>');
		}
		var generateRandomString = function(len){
			return randomString(len, '0123456789abcdefghijklmnopqrstuvwxyz');
		}

		function randomString(length, chars) {
			var result = '';
			for (var i = length; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)];
			return result;
		}
		function post(path, params, method) {
			method = method || "post"; // Set method to post by default if not specified.

			// The rest of this code assumes you are not using a library.
			// It can be made less wordy if you use one.
			var form = document.createElement("form");
			form.setAttribute("method", method);
			form.setAttribute("action", path);

			for(var key in params) {
				if(params.hasOwnProperty(key)) {
					var hiddenField = document.createElement("input");
					hiddenField.setAttribute("type", "hidden");
					hiddenField.setAttribute("name", key);
					hiddenField.setAttribute("value", params[key]);

					form.appendChild(hiddenField);
				 }
			}

			document.body.appendChild(form);
			form.submit();
		}
	div(class='container')
		div(class='jumbotron')
			center
				h1= title
			div(class='row')
				div(class='col-sm-4')
					h3= "Class ID : " + classID
					h3= "Budget : " + budget
					br
					br
					h3
						button#btnSubmit(type="Update",value='Insert',onclick="updateClass();") Update
				div(class='col-sm-4')
					h2= "Input Parameters"
						each inp, i in inputParams						
							h3= inp.name + " (" + inp.units  + ")"
							h5="Min"
							input(type='text', id=inp.name , name=inp.name, value=inp.range[0])
							h5="Max"
							input(type='text', id=inp.name , name=inp.name, value=inp.range[1])
					div(id="lst")
						h2= "Function Parameters"
						each cls, i in params						
							h3= cls.name
							- if (typeof(cls.value) == 'boolean'){
							- if (cls.value){
							input(type='radio', id=cls.name+"RadioTrue", name=cls.name+'optradio', checked=false)
							| True
							input(type='radio', id=cls.name+"RadioFalse", name=cls.name+'optradio', checked=true)
							| False
							-}
							- else {
							input(type='radio', id=cls.name+"RadioTrue", name=cls.name+'optradio', checked=true)
							| True
							input(type='radio', id=cls.name+"RadioFalse", name=cls.name+'optradio', checked=false)
							| False
							-}
							-}
							-else {
							input(type='text', id=cls.name , name=cls.name, value=cls.value)
							-}

				div(class='col-sm-4')
					h2
						|Students
					br
				
					div(class="col-xs-9 list-group" id="lst")
						each cls, i in students						
							a(href="#" class="list-group-item")= cls.studentID

					button#btnSubmit(type="CreateBoard",value='Insert',onclick="add(5);") Add 5 Students
					button#btnSubmit(type="CreateBoard",value='Insert',onclick="add(1);") Add 1 Student
					button#btnSubmit(type="CreateBoard",value='Insert',onclick="delSelected();") Delete